@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 dark:bg-navy-900 text-slate-800 dark:text-slate-400 font-sans antialiased leading-relaxed selection:bg-teal-300/30 selection:text-teal-300 transition-colors duration-300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-900 dark:text-slate-200 font-bold tracking-tight;
  }

  a {
    @apply transition-colors duration-300 hover:text-teal-600 dark:hover:text-teal-300 focus-visible:text-teal-600 dark:focus-visible:text-teal-300;
  }
}

@layer utilities {
  .section-padding {
    @apply py-16 md:py-24 lg:py-32 max-w-5xl mx-auto px-6 md:px-12 lg:px-24;
  }
}